<div class="min-h-screen min-w-screen bg-gray-300 flex justify-center p-14">
  <div class="container flex drop-shadow-xl min-h-full bg-white rounded-xl max-w-6xl">
    <div class="d-block w-full h-full bg-white p-6">
      <div class="custom-card w-full h-full bg-blue-950 rounded-xl flex flex-col justify-between text-center items-center text-white p-7">
        <div class="pt-7">
          <h2 class="text-5xl mb-2 font-bold">Radya Digital</h2>
          <p>Radya Digital Content Management System</p>
        </div>
        <div class="w-full h-80 py-7 overflow-hidden">
          <div class="image-container w-80 rounded-xl mx-auto p-8">
            <img src="assets/images/login_illustration.svg" alt="login">
          </div>
        </div>
        <img src="assets/brand_light_secondary.png" alt="logo-brand" class="h-20 mx-auto">
      </div>
    </div>

    <div class="d-block w-full h-full bg-white flex flex-col justify-around p-6" style="color: rgb(75, 85, 99)">
      <div class="text-center">
        <h2 class="text-5xl mb-2 font-bold">Sign In</h2>
        <p>Welcome Back!</p>
      </div>

      <form class="bg-white px-8 pt-6 pb-8 mb-4" [formGroup]="loginForm">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm mb-2" for="username">
            Username
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Username" formControlName="username">
        </div>
        <div class="mb-6">
          <label class="block text-gray-700 text-sm mb-2" for="password">
            Password
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="******************" formControlName="password">
        </div>
        <div class="flex items-center justify-between">
          <button class="login-btn w-full text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button" (click)="submitForm()">
            Login
          </button>
        </div>
      </form>

      <p class="text-center text-gray-500 text-xs">
        Copyright &copy; 2023 Radya Digital
      </p>
    </div>
  </div>
</div>